<div id="pagePortfolio" class="page">
        <div class="tabsPortfolio">
          <ul>
            <li>
              <div data-value="grid"> 
		<span class="tabActive" id="poiTab"> POI <span>
	    </div>
            </li>
            
            <li class="second">
              <div data-value="list">
		<span id="eventTab"> Events </span>
	    </div>
            </li>
	</ul>
        </div>
</div>
<div class="instruction" style="display: block; margin:2%; float:right"> swipe to delete </div><br><br>