	<div class="fairTitle">
		<h1>I parchi d'Italia</h1>
		<h4>Powered By Cicero</h4>
	</div>
	<form action="" method="POST" />
                <div class="groupBox">
                  <ul>
                    <li>
		    Email
                        <input type="email"  required="" name="email" id="email" />
                    </li>
                    <li>
		    Password
                        <input type="password" required="" name="password" id="password" />
                    </li>
                  </ul>
                  
                  <div id="login">Login</div>
                  <div class="clearfix"></div>
                </div>
                <!-- end group box -->
	</form>
	<div class="loginbuttons">
		Use social network account:<br>
		<div id="facebook" class="facebook"><img src="./img/facebook.png" /></div>
		<div id="twitter" class="twitter"><img src="./img/twitter.png" /></div>
	</div>
	<div class="bottom">
	  You can enter as a <span id="guest" name="guest">Guest</span> or
	 <span><button class="button buttonStrong" value="Register" name="register" id="register" value="submit">Register</button></span>
	<div>