	<div class="fairTitle">
		<h1>Vinitaly</h1>
		<h4>Powered By Cicero</h4>
	</div>
	<form action="send-email.php" method="POST" />
                <div class="groupBox">
                  <ul>
                    <li>
		    Username
                        <input type="text"  required="" name="username" id="username" />
                    </li>
                    <li>
		    Password
                        <input type="password" required="" name="password" id="password" />
                    </li>
                  </ul>
                  
                  <input type="submit" class="button buttonStrong" value="Login" name="buttonSubmit" value="submit" />
                  <div class="clearfix"></div>
                </div>
                <!-- end group box -->
	</form>
	<div class="loginbuttons">
		Use social network account:<br>
		<div class="facebook" href=""><img src="./img/facebook.png" /></div>
		<div class="twitter" href=""><img src="./img/twitter.png" /></div>
	</div>
	<div class="bottom">
	  You can enter as a <a href="map.html">Guest</a> or
	 <a href="register.html"><button class="button buttonStrong" value="Register" name="buttonSubmit" value="submit">Register</button></a>
	<div>