<div id="gmap-cont">
	<div id="gform-cont">
		<form>
		<div id="ginputcont">LOOKING FOR: <input type="text" name="Search" id="input_nearby"/></div>
		
		<div id="gsearch">SEARCH</div>
		
		</form>
	</div>
	<div id="gbuttonscont">
		<div id="nearbyfloat1">
			<div id="hotel" class="nav left" style="text-align:center"><span><img src="./img/button_hotel.png"></span><div>Hotel</div></div>
			<div id="restaurant" class="nav left" style="text-align:center"><span><img src="./img/button_restaurant.png"></span><div>Restaurant</div></div>						
		</div>
		<div id="nearbyfloat2">
			<div id="bar" class="nav left" style="text-align:center"><span><img src="./img/button_bar.png"></span><div>Bar</div></div>
			<div id="parking" class="nav left" style="text-align:center"><span><img src="./img/button_parking.png"></span><div>Parking</div></div>
		</div>
	</div>
	<br><br>
	<div id="nearby_map-canvas"></div>
	
	
	
	
</div>