<div id="gmap-cont">
	<div id="gform-cont">
		<form>
		<div id="Partenza"><input type="text" name="Search" id="input_nearby"/></div>
		<div id="gfloat">
		<div id="gsearch">SEARCH</div>
		</div>
		</form>
	</div>
	<div id="gbuttonscont">
		<div id="nearbyfloat1">
			<div id="hotel" ><img src="./img/green_button_hotel.png"></div>
			<div id="parking" ><img src="./img/green_button_parking.png"></div>
		</div>
		<div id="nearbyfloat2">
			<div id="restaurant" ><img src="./img/green_button_restaurant.png"></div>
			<div id="bar" ><img src="./img/green_button_bar.png"></div>
		</div>
	</div>
	<div id="nearby_map-canvas"></div>
	
	
	
	
</div>