<div id="gmap-cont">
	<div id="form-cont">
		<form>
		<div id="Partenza"><input type="text" name="Search" id="input_nearby"/></div>
		<div id="gfloat">
		<div id="gsearch">SEARCH</div>
		</div>
		</form>
	</div>
	<div id="gbuttonscont">
		<div class="nearbybutton" id="shop">STORES</div>
		<div id="nearbyfloat1">
			<div class="nearbybutton" id="park">PARKS</div>
			<div id="nearbyfloat2">
				<div class="nearbybutton" id="hotel">HOTELS</div>
				<div id="nearbyfloat3">
				<div class="nearbybutton" id="restaurant">RESTAURANTS</div>
				<div class="nearbybutton" id="hospital">HOSPITALS</div>
				</div>
			</div>
		</div>
	</div>
	<div id="nearby_map-canvas"></div>
	
	
	
	
</div>