<div id="pagePortfolio" class="page">
    <div style="display: block; opacity: 1;" id="gridView" class="portfolioProjects list">
        <li>
            <div class="groupBox innerContent" id="itemView">

                <a class="thumb" href="">
                    <img src="http://www.vineola.de/images/manufacturers/MiglianicoLogo.jpg" alt="Project X: iPhone Application Design">
                </a>
                <div class="description">
                    <div class="title">
                        {{title}}
                    </div>
                    <div class="about">
                        {{message}}
                    </div>
                    <span class="website" id="arrow" >&raquo;</span>
                </div>
                <div class="clearfix"></div>
            </div>

        </li>
    </div>
</div>