   <div id="pageHome" class="page" >
        <div class="content">
            <div class="groupBox innerContent ">
                        <div class="profileArea">
	<div class="left">
		    
		    <div class="profilePicAreaContainer" >
			<div class="profilePicArea">
			    <img src="img/cantinamiglianico.jpg" alt="Profile Pic" />
			</div>
		    </div>
		    <div class="profileCaptAreaContainer">Cantina Miglianico</div>
	</div>
	     
            <div class="profileTable right">
		<div class="left">
			<div class="nav left"><a href="./map.html"><img src="img/marker.png"></a><br>Map</div>
			<div class="nav left"><a href="./event.html"> <img src="img/event.png"> </a><br>POI Events</div>
		</div>
		<div class="">
			<div class="nav left"><a href="./likeit.html"><img src="img/heart.png"></a><br>Like It !</div>
			<div class="nav left"><a href="./favourite.html"><img src="img/favourite.png"></a><br>Favourite</div>
		</div>
	       
            </div>
            <div class="clearfix"></div>
        </div>            </div>
        </div>
      
     <div class="content middle">      
            <h5 class="sectionTitle"> Poi Info</h5>
            
            <div class="groupBox">
              <ul>
                <li>
                    <p class="value"> Cantina Miglianico</p>
                    <p class="key"> Name </p>
                </li>
                <li>
                    <a class="icon">
                        <p class="value">  Pad B - Sector 11 - Area B</p>
                        <p class="key"> Location</p>
                    </a>
                </li>
                <li>
		    <p class="key"> Summary</p>
                        <p class="value"> La Cantina Miglianico nasce nel 1961 grazie all impegno di un audace gruppo di viticultori. Nel 1966 incomincia a produrre le prime bottiglie.
Oggi la Cantina associa circa 300 viticoltori  e gestisce oltre 500 ettari  di vigneto ...</p>
                </li>
                <li>
		<p class="key"> Media</p>
                    <p class="value"> </p>
                </li>
	      <li>
		<p class="key"> Comments</p>
                    <p class="value"> </p>
                </li>
		
              </ul>
            </div>
            <!-- end group box -->
        </div>
        <!-- end  content -->