<div id="pageHome" class="page" name="{{id}}">
	<div class="content">
		<div class="groupBox innerContent ">
			<div class="profileArea">
				<div class="profileLeft left">
					    
					    <div class="profilePicAreaContainer" >
							<div class="profilePicArea">
							    <img src="http://www.vineola.de/images/manufacturers/MiglianicoLogo.jpg" alt="Profile Pic" />
							</div>
					    </div>
					    <div class="profileCaptAreaContainer">{{name}}</div>
			    </div>
	     		<div class="centerTable">
	            	<div class="profileTable">
						<div class="left">
							<div class="nav left"><span><img src="img/marker.png"></span><br>Map</div>
							<div class="nav left"><span><img src="img/event.png"></span><br>POI Events</div>
						</div>
						<div class="">
							<div class="nav left"><span><img src="img/heart.png"></span><br>Like It !</div>
							<div class="nav left"><span class="favourite_icon" id="favourite_logo" name="{{id}}"><img id="img_fav" src="img/favourite.png" /></span><br>Favourite</div>
						</div>
	            	</div>
	            </div>
            	<div class="clearfix"></div>
    		</div>            
		</div>
    </div>
      
	<div class="content middle">      
            <h5 class="sectionTitle">Poi Info</h5>
            
            <div class="groupBox">
              <ul>
                <li>
                    <p class="value"> {{name}}</p>
                    <p class="key"> Name </p>
                </li>
                <li>
                    <p class="value">  Pad B - Sector 11 - Area B</p>
                    <p class="key"> Location</p>
                </li>
                <li>
	    			<p class="key"> Summary</p>
                    <p class="value">{{descrizione}}</p>
                </li>
                <li>
					<p class="key"> Media</p>
                    <p class="value">
                    	<div class="media_container" id="Gallery">
                    			<table>
                    			 <tr>
                    			 
                    			{{#each medias}}
                    				{{#ifCond type}}
                    					<td>
									    <a href="{{url}}"><img src="{{url}}" alt="Image 00" /></a>
									    </td>
									{{else}}
										<td>
									    <video controls preload height="190">
									      <source src="{{url}}" />
									    </video>
									    </td>
									{{/ifCond}}
								{{/each}}
								 </tr>
								</table>       		
                    	</div>
                    </p>
                </li>
			    <li>
			    	<div id="commentsHeader">
				    	<img id="arrow" class="arrow_down" src="./img/arrow.png" style="float:right">
						<div id="comment_title" class="key">Comments ({{comments_num}})</div>
					</div>
					<div class="clearfix"></div>
			        <p class="value invisible" id="Comments"> </p>
			        <div class="clearfix"></div>
			        <br><br>
			        <div id="messageForm" class="invisible">
						<textarea id="Message"  name="Message" placeholder="Message"></textarea>
						<input class="button buttonStrong right" type="submit" id="send" name="buttonSubmit" value="Send">
						<div class="clearfix"></div>
					</div>
					<div id="loginText" class="invisible">
						If you want to comment, you need to <span id="login" class="logintext">login</span>
					</div>
		        </li>
		
              </ul>
            </div>
            <!-- end group box -->
        </div>
        <!-- end  content -->
</div>