  <div id="pagePortfolio" class="page" style="height:120px">
      <div style="display: block; opacity: 1;" id="gridView" class="portfolioProjects list">
      	<li>
	    <div class="groupBox innerContent" id="itemView">
	    
		<a class="thumb" href="">
			<img src="{{logo}}" alt="">
		</a>
	      <div class="description">
			<div class="title">
			  {{name}}
			</div>
			<div id="favouritepoi#{{id}}" class="favourite_icon invisible" ><img id="edit_favourite" style="float:right" src="./img/favourite.png"></div>						
			<div class="about">
			   {{descrizione}}
			</div>
			<span class="website" id="arrow" >&raquo;</span>
	      </div>
	      <div class="clearfix"></div>
	    </div>
	
	</li>
       </div>
  </div>
         