	<div class="fairTitle">
		<h1>I parchi d'Italia</h1>
		<h4>Powered By Cicero</h4>
	</div>
    <div id="error" class="invisible"></div>
	<form action="" method="POST" />
                <div class="groupBox">
                  <ul>
		<li>
		    Email
                        <input type="email" required="" name="email" id="email" />
                    </li>
                    <li>
		    Username
                        <input type="text"  required="" name="username" id="username" />
                    </li>
                    <li>
		    Password
                        <input type="password" required="" name="password" id="password" />
                    </li>
                  </ul>
                  <div id="register" class="button buttonStrong">Register</div>
                  <div class="clearfix"></div>
                </div>
                <!-- end group box -->
	</form>