    <br>
<input type="text" placeholder="search_field" name="search_field" id="search_field" />
<br>
<div id="pagePortfolio" class="page">

        
      <div style="display: block; opacity: 1;" id="gridView" class="portfolioProjects list">
        <ul>
          {{#each poi}}
          <li>
            <div class="groupBox innerContent">
              <a class="thumb" href="img/portfolio/1.jpg">
                <img src="http://www.vineola.de/images/manufacturers/MiglianicoLogo.jpg" alt="Project X: iPhone Application Design">
              </a>
              <div class="description">
                <div class="title">
                  {{title}}
                </div>
                <div class="about">
                   {{description}}
                </div>
                <a href="http://project.com" target="_blank" class="website">&raquo;</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
          {{/each}}
         </ul>
	</div>
</div>
