<input type="text" placeholder="search_field" name="search_field" id="search_field" />
<div id="gridView" class="portfolioProjects">
        <ul>
          <!--da replicare per ogni POI/Evento, ad esempio foreach-->
          <li>
            <div class="groupBox innerContent">
              <a class="thumb" href="">
                <img src="" />
              </a>
              <div class="description">
                <div class="title">
                  
                </div>
                <div class="about">
                  
                </div>
                <span class="website">  &raquo; </span>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
         </ul>
</div>