<br>
	<div id="search_div">
		<div class="input" style="margin:1%"><input type="text" placeholder="Type to search .." name="search_field" id="search_field" style=""/></div>
		<div id="search_btn" class="search_btn"><img src="./img/search_btn_dark.png" ></div>
	</div>
	
     <div id="pagePortfolio" class="page">
        <div class="tabsPortfolio">
          <ul>
            <li>
              <div data-value="grid"> <span class="tabActive" id="poiTab"> POI <span></div>
            </li>
            
            <li class="second">
              <div data-value="list"><span id="eventTab"> Events </span></div>
            </li>
          </ul>
        </div>
    </div>
    <div class="edit" id="buttons">
				<button class="ui-corner-all ui-button favourite_icon" id="edit"><img src="./img/favourite.png"></button>
	</div>
    <br><br><br>
    