    <header>
      <div id="header">
        <a href="javascript:history.back()" class="backButton">&laquo;</a>
        <h1> <!--Poi Name --> </h1>
        <h2> <!--Fair Name --> POI</h2>
      </div>
    </header>
    
    <div id="container" name="container">
    </div>
    
    <footer>
      <div id="footer">
          <div class="footerMenu"><img src="img/map_icon.png" ><br>MAP</div>
	<div class="footerMenu"><img src="img/search_icon.png"><br>SEARCH</div>
	<div class="footerMenu"><img src="img/favourite_icon.png"><br>FAVOURITE</div>
	<div class="footerMenuEnd" id="menu"><img src="img/menu_icon.png"><br>MENU</div>
	<div class="popupMenu" id="popupMenu">prova</div>
      </div>
    </footer>
   