    <header>
      <div id="header">
        <div id="back" class="backButton invisible">&laquo;</div>
        <div id="spinner" class="invisible"><img src="img/spinner.gif"/></div>
        <h1 id="viewTitle"></h1>
      </div>
    </header>
    <div id="message_div" class="ui-state-highlight ui-corner-all" style="display:none">
    	<p>
    		<div class="close" onclick="document.getElementById('message_div').style.display='none'">X</div>
    		<div id="message" name="message" class="message">
      			You need to login
      		</div>
      		
    	</p>
    </div>
    <div id="container" name="container" class="container">
    </div>
    
    <footer class="invisible">
      <div id="footer">
          <div class="footerMenu" id="map_icon"><img src="img/map_icon.png" ><br>MAP</div>
	<div class="footerMenu" id="search_icon"><img src="img/search_icon.png"><br>SEARCH</div>
	<div class="footerMenu" id="favourite_icon"><img src="img/favourite_icon.png"><br>FAVOURITE</div>
	<div class="footerMenuEnd" id="menu_icon"><img src="img/menu_icon.png"><br>MENU</div>
	<div class="popupMenu invisible" id="popupMenu">
		<div class="popupIcon" id="navigation_icon"><img src="img/navigation_icon.png"><br>HOW TO REACH US</div>
		<div class="popupIcon" id="nearby_icon"><img src="img/nearby_icon.png"><br>NEARBY PLACES</div>
        <div class="popupIcon" id="news_icon"><img src="img/news_icon.png"><br>FAIR NEWS</div>
        <div class="popupIcon" id="key_icon"><img src="img/key_icon.png"><br><div id="logout" class="">LOGIN</div></div>
        <div class="popupIcon" id="turnoff_icon"><img src="img/turnoff_icon.png"><br>EXIT</div>
	</div> 
      </div>
    </footer>
   